@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #11001b;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  margin-top: 0;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  
}


.markdown {
  padding: 6vw;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
@media (min-width: 768px) {
  .markdown{
    flex-direction: row;
    justify-content: space-around;
    column-gap: 5vw;
    padding-bottom: 2rem;
    height: 90vh;
  }
  .input{
    width: 40vw;
  }
  .result{
    width: 40vw;
  }
}
.input {
  border-color: transparent;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  min-height: 30vh;
  padding: 1rem 2rem;
  color: white;
  background-color: #1C7690;
  width: 100%;
}
.result {
  padding: 1rem 2rem;
  color: white;
  background-color:#1C7690;
  width: 100%;
  min-height: 30vh;
  overflow-y: auto;
}
.result a{
  color: #0000FF;
}
::placeholder{
  color:black
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
blockquote {
  font-size: 2rem;
  font-style: italic;
  border-left: 5px solid hsl(210, 22%, 49%);
  color: hsl(210, 22%, 49%);
  padding-left: 2rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
blockquote ::first-letter {
  text-transform: uppercase;
}
pre {
  background: #222;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  color: yellow;
  margin-bottom: 1.5rem;
}


